<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{% block pagina_titulo %}Mensaje de correo electrónico{% endblock pagina_titulo %}</title>

<style>

body {
    padding: 14px;
}

body, p, label, span, div, td, h1, h2, h3, h4, h5, h6, .inplace-edit {
    font-family: "Source Sans Pro", "Carlito", "Calibri", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1, legend {
	padding: 0px;
	font-size: 14pt;
	font-weight: 400;
	color: gray;
	margin: 2px 0px;
}

h2 {
	margin-top: 10px;
	font-size: 13pt;
	font-weight: 600;
}

h3 {
	margin-top: 8px;
	font-size: 12pt;
	font-weight: 600;
}

h4 {
	margin-top: 6px;
	font-size: 11pt;
}

p.small {
    font-size: 9pt;
}

p.lead {
    font-size: 12pt;
}

.panel-info {
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    background-color: #FFFBED;
}
</style>

</head>

<body>
{% block pagina_contenido %}
    <header>
    	<h1>{{ tapir_cliente }}</h1>
    </header>
    <article>
    </article>
{% endblock pagina_contenido %}
</body>

</html> 
