{% extends terminado is defined and terminado 
    ? 'TapirBaseBundle:Persona:cambiarContrasenaListo.html.twig' 
    : 'TapirAbmBundle::editar.html.twig' %}

{% block pagina_titulo %}Contraseña de {{ entity }}{% endblock %}

{% block pagina_contenido %}
<p>Por favor escriba su nueva contraseña en un lugar seguro.</p>
{{ parent() }}
{% endblock %}
