{% extends 'TapirAbmBundle::editar.html.twig' %}

{% block pagina_titulo %}{% if entity.id %}{{ entity.Nombre }}{% else %}Nueva calle{% endif %}{% endblock %}

{% block pagina_acciones2 %}
	<a href="{{ path(res.ObtenerRutaAccion('actualizarfechaubicacion'), res.Arrastre|merge({ 'id': entity.id })) }}"
	    class="btn btn-default" data-toggle="ajax-link">Actualizar fecha de ubicación</a>
{% endblock pagina_acciones2 %}
