{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Solicitud de modificación{% endblock %}

{% block pagina_inicio %}
{{ form_start(res.FormularioEditar, {
    'action': path(res.ObtenerRutaAccionGuardar, res.Arrastre|merge({ 'id': res.Entidad.id, 'hisapi': 0,
    	'form': app.request.query.get('form') })),
    'method': 'POST',
    'attr': { 'id': res.FormularioEditar.vars.id }
}) }}
{% endblock pagina_inicio %}

{% block pagina_acciones %}
<button type="button"
	{% if tapir_modal is not defined or tapir_modal == 0 %}
		onclick="return tapirAtras();"
	{% else %}
	    data-dismiss="modal"
	{% endif %}
	class="btn btn-default">Cancelar</button>
<button type="submit" value="Guardar" class="btn btn-success tapir-button-accept">
	<i class="fa fa-check"></i>
	    {% if tapir_editar_nombreguadar is defined %}
	        {{ tapir_editar_nombreguadar }}
	    {% else %}
	    	Guardar
	    {% endif %}
</button>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
{% if res.TieneEliminar and not res.EsCrear %}
    <a data-toggle="ajax-link" class="btn btn-danger"
        href="{{ path(res.ObtenerRutaAccion('eliminar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}">
    <i class="fa fa-trash-o"></i> Eliminar </a>
{% endif %}
{% endblock %}

{% block pagina_fin %}
{{ form_end(res.FormularioEditar, {'render_rest': false}) }}
{% endblock pagina_fin %}

