{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Etiquetas{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>Código</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr data-toggle="ajax-link"
			href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}">
			<td>{{ entity.Codigo }}</td>
			<td>{{ entity }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1') }}"
	class="btn btn-primary hidden-print"><i class="fa fa-plus"></i> Nueva etiqueta</a>
{% endblock %}
