{% extends 'YacareBaseBundle::email.html.twig' %}
{% block pagina_contenido %}
    <h2>Ingreso de solicitud Nº {{ res.Entidad.SeguimientoNumero }}</h2>
    <p>Le agradecemos que se tome el tiempo para ponerse en contacto con su Municipio.
    	Recibimos sus comentarios, consultas y sugerencias con entusiasmo.</p>
    
    <p>Usted acaba de ingresar una solicitud, con la siguiente descripción:</p>
    <p class="lead">{{ res.Entidad.Notas }}</p>
    
    <hr />

	<p>Su solicitud será antendida y se le informarán las novedades por correo electrónico.</p> 
	
    {% if res.Entidad.SeguimientoNumero %}
        <p>También puede consultar el estado de su solicitud desde el sitio web del Municipio:
        	<a href="http://yacare.dir.riogrande.gob.ar/requerimientos/requerimiento/anonimo/ver/?seg=={{ res.Entidad.SeguimientoNumero }}">http://yacare.dir.riogrande.gob.ar/requerimientos/requerimiento/anonimo/ver/?seg={{ res.Entidad.SeguimientoNumero }}</a>
        </p>
    {% endif %}

    <hr />

    <p>Este es un mensaje generado de forma automática. Por favor no responda a este mensaje. Si desea consultar
    	el estado de su solicitud utilice la página provista.</p>
{% endblock %}