{% if res.Entidad.FechaHoraInspeccion %}
    <a data-toggle="modal" class="btn btn-info active" title="Haga clic para desactivar la advertencia"
    	href="{{ path(res.ObtenerRutaAccion('turno'), { 'id': res.Entidad.Id, 'valor': not res.Entidad.FechaHoraInspeccion }) }}">
    	<i class="glyphicon glyphicon-bell"></i><span class="a-showonhover">Editar turno</span></a>
{% else %}
	<a data-toggle="modal" class="btn btn-default" title="Haga clic para activar el turno"
    	href="{{ path(res.ObtenerRutaAccion('turno'), { 'id': res.Entidad.Id, 'valor': not res.Entidad.FechaHoraInspeccion }) }}">
    	<i class="glyphicon glyphicon-time"></i> <span class="a-showonhover">Nuevo turno</span></a>
{% endif %}
