{% extends 'YacareAyudaBundle:Ayuda:inicio.html.twig' %}

{% block pagina_contenido %}
<ul>
	<li><a data-toggle="modal" href="{{ path('yacare_comercio_comercio_ayuda') }}">Carga manual de comercios</a></li>
</ul>
{% endblock pagina_contenido %}
