{% extends 'YacareBaseBundle:Adjunto:listar.html.twig' %}

{% block pagina_acciones %}
<button class="btn btn-default" type="button" onclick="return tapirAtras();">
	<i class="fa fa-reply"></i> Volver</button>
{% endblock pagina_acciones %}